<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=a, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">

</head>


<body>
  <nav class="navbar">
    <a href="/">Url-Shortner</a>
    <div class="anotherflex" style="padding: 14px 20px;">
      <a href="{{ url_for('session_api')}}">API</a>
      <a href="{{ url_for('index') }}" style="    border: 1px solid blue;
        padding: 4px 8px;
        border-radius: 5px;
        margin: 0px 13px;
        color: blue;opacity: 0.9;">New URL</a>
    </div>
  </nav>

  {% with messages=get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category,message in messages %}
  <div class="alert" id="notify">
    <strong>{{message[0:38]}}</strong> {{message[38:]}}
    <button type="button" id="closebutton" onclick="document.getElementById('notify').style.display='none'">X</button>
  </div>
  {% endfor %}
  {% endif %}

  {% endwith %}


  {% block main %}
  {% endblock %}

  <script src="{{ url_for('static',filename='js/scripts.js') }}">
  </script>
</body>

</html>